doctype html
html(ng-app='app', lang='en' ng-cloak)
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title plattform-platt.de
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    base(href='/')

  body
    root-cmp(layout-fill)
