h1.md-display-1 Plattform-Platt
p.md-body-1 Auf plattform-platt.de findest du Leute in deiner Nähe, mit denen du Plattdeutsch sprechen kannst.  Die Plattform ist angelehnt an das &nbsp;
  a(href="https://de.wikipedia.org/wiki/Tandem_(Sprachlernmethode)" target="_blank") Sprach-Tadem-Konzept.&nbsp;

p.md-body-1 Als Plattdeutsch-Anfägner kannst du beispielsweise versuchen, einen Platt-Partner zu finden, der auf einem höheren Niveau spricht und dir so den einen oder anderen Kniff abgucken.

p.md-body-1 Du weißt nicht, was Plattdeutsch ist? Dann findest du &nbsp
  a(href="https://de.wikipedia.org/wiki/Niederdeutsche_Sprache" target="_blank") hier
  | &nbsp; einen Überblick. 




div(layout="row")
  md-button.md-raised.md-accent(ng-link="['Login']") einloggen
  md-button.md-raised.md-primary(ng-link="['Register']") Registrieren
