//div(flex="50" flex-xs="100" flex-sm="75")
header(flex layout="row" layout-align="center stretch")

  div(layout="column" flex="75")
    div(layout="column" layout-align="center" hide-gt-sm)
      h1.md-display-2 Plattform-Platt
      p.md-subhead Auf plattform-platt.de findest du Leute in deiner Nähe, mit denen du Plattdeutsch sprechen kannst.

    span(flex)

    div(layout="row" layout-align="space-between")

      div(layout="row" layout-align="start end")
        img(src="{{$ctrl.lighthouse}}").lighthouse

      div(layout="row" layout-align="center center")
        div(layout="column" layout-align="center" hide show-gt-sm)
          h1.md-display-2 Plattform-Platt
          p.md-subhead Auf plattform-platt.de findest du Leute in deiner Nähe, mit denen du Plattdeutsch sprechen kannst.

      div(layout="row" layout-align="start end")
        img(src="{{$ctrl.windmills}}").windmills

section(flex layout="row" layout-align="center stretch")

  div(layout="column" flex="50" flex-xs="100" layout-padding)


    h2.md-title Platt für jedes Niveau
    p.md-body-1 Auf plattform-platt.de findest du den richtigen Sprach-Partner für dein Platt Niveau. Als Plattdeutsch-Anfägner kannst du beispielsweise versuchen, einen Platt-Partner zu finden, der auf einem höheren Niveau spricht und dir so den einen oder anderen Kniff abgucken.

    p.md-body-1 Die Plattform ist angelehnt an das &nbsp;
      a(href="https://de.wikipedia.org/wiki/Tandem_(Sprachlernmethode)" target="_blank") Sprach-Tadem-Konzept.&nbsp;

    p.md-body-1 Du weißt nicht, was Plattdeutsch ist? Dann findest du &nbsp
      a(href="https://de.wikipedia.org/wiki/Niederdeutsche_Sprache" target="_blank") hier
      | &nbsp; einen Überblick. 


    div(layout="row")
      md-button.md-raised.md-accent(ng-link="['Login']") einloggen
      md-button.md-raised.md-primary(ng-link="['Register']") Registrieren
