profile-form-cmp{
  #color-picker{
    margin-bottom: 2rem;

    small {
      color: rgba(0,0,0,0.54);
      font-size: 12px;
    }

    color-picker{
      display: block;
      width: 10rem;

      .color-picker-input{
        width: 100%;
      }
    }

    .error {
      font-size: 12px;
      color: rgb(221,44,0);
    }
  }
}
