root-cmp{
  $green: #21A145;

  display: block;

  /*main{*/
    /*margin-top: 2rem;*/
  /*}*/

  footer{
    margin-top: 5rem;
    /*border-bottom: 1rem solid $green;*/

    .windmills {
      height: 50px;
    }

    .footer-content{
      background: $green;
      color: white;
      padding-bottom: 2rem;
    }


  }
}
