root-cmp{
  display: block;

  /*main{*/
    /*margin-top: 2rem;*/
  /*}*/

  footer{
    margin-top: 5rem;
    border-bottom: 1rem solid lightgreen;

    .windmills {
      height: 50px;
    }

  }
}
