div(layout="row" layout-align="center stretch")

  div(layout="column" flex="50" flex-sm="66" flex-xs="100" layout-padding)
    h1.md-display-1 Login

    md-card
      md-card-content
        p.error-message {{$ctrl.auth.loginErrorMessage}}
        login-form-cmp(
          on-submit="$ctrl.onLogin(model)"
          is-fetching="$ctrl.auth.isFetching"
          )
