h1.md-display-1 Registrieren

md-card
  md-card-content

    p.error-message {{$ctrl.register.registerErrorMessage}}
    register-form-cmp(
      on-submit="$ctrl.onRegister(model)"
      is-fetching="$ctrl.register.isFetching"
      )
