h1.md-display-1 Registrieren

md-card(layout-margin)

  p.error-message {{$ctrl.register.registerErrorMessage}}
  register-form-cmp(
    on-submit="$ctrl.onRegister(model)"
    is-fetching="$ctrl.register.isFetching"
    )
