h1.md-display-3 Registrieren

md-card(layout-margin)

  p.error {{$ctrl.auth.loginErrorMessage}}
  register-form-cmp(
    on-submit="$ctrl.onRegister(model)"
    is-fetching="$ctrl.auth.isFetching"
    )
